
#shareBanner {
    text-align: center;
    border: 0;
    background: transparent;
    color: black;
}

/* Make it small on mobile */
@media only screen and (max-width: 600px) {
  #shareBanner {
    width: 300px;
  }
}

/* Make it big on desktop */
@media only screen and (min-width: 600px) {
  #shareBanner {
    width: 480px;
  }
}
